{% extends './__base__.html' %}

{% load static %}


{% block content %}
    <style>
        .myForm {
            padding: 19px 29px 29px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            margin-bottom: 100px;
        }
    .myCol {
        margin-top: 25px;
    }
    </style>

    <script>
        function getInfo(v) {
            window.scrollTo(0,0);
            $(v).attr('class', 'btn btn-success');
            var compName = v.innerHTML;
            $("#form_title").text(compName);
            $.post("/autoPrint/check_info/", { name: compName},
            function (data) {
                $("#date").val(data.sales.date);
                $("#price").val(data.sales.total_price);
                $("#price_ch").val(data.sales.total_price_ch);
                $("#tax_receipt").val(data.sales.tax_receipt);
                $("#receipt_amount").val(data.sales.receipt_amount);
                $("#notes").val(data.payee.notes);
                $("#pay_note").val("这个不确定加哪个数据库！");

                $("#payee_province").val(data.payee.payee_province);
                $("#payee_city").val(data.payee.payee_city);
                $("#payee_name").val(data.payee.company_name);
                $("#payee_account").val(data.payee.company_account);
                $("#payee_address").val(data.payee.company_address);
                $("#payee_location").val(data.payee.account_location);

                $("#pay_province").val(data.pay.pay_province);
                $("#pay_city").val(data.pay.pay_city);
                $("#pay_name").val(data.pay.company_name);
                $("#pay_account").val(data.pay.company_account);
                $("#pay_address").val(data.pay.company_address);
                $("#pay_location").val(data.pay.account_location);

            }, "json");
        }
        $(document).ready(function () {
            $("#myForm").ajaxForm(function (data) {
                alert(data.name + '提交成功')
            })
        })
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 btn-group-vertical" style="margin-bottom: 100px;">
                <h3 >需要填写以下{{ amount }}张表单</h3>
                {% for k, v in sales_info.items %}
                    <button type="button" href="#" class="btn btn-info" onclick="getInfo(this)">{{ k }}</button>
                {% endfor %}
            </div>
            <div class="col-md-9 myCol">
                <h3 id="form_title"></h3>
                <form id="myForm" role="form" class="form-inline myForm" action="/autoPrint/details/" method="post">
                    <div class="form-group">
                        <label for="date" >委托日期:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control " id="date" name="date" /><br>
                    </div><p></p>
                    <div class="form-group">
                        <label for="price">小写金额:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="price" name="price" />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="price_ch">大写金额:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="price_ch" name="price_ch"/>
                    </div><p></p>
                    <div class="form-group">
                        <label for="tax_receipt">托收票据:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="tax_receipt" name="tax_receipt" />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="receipt_amount">附寄单证张数:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="receipt_amount" name="receipt_amount"/>
                    </div><p></p>
                    <div class="form-group">
                        <label for="pay_note">付款标注:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="pay_note" name="pay_note" />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="notes">备注:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="notes" name="notes"/>
                    </div><p></p>

                    <div style="margin-top: 40px; margin-bottom: 20px "><h4><font color="#183a66">付款人信息</font></h4></div>

                    <div class="form-group">
                        <label for="pay_province">省(付款人):</label>&nbsp;&nbsp;
                        <input type="text" class="form-control" id="pay_province" name="pay_province" placeholder="河南" />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="pay_account">市(付款人):</label>&nbsp;&nbsp;
                        <input type="text" class="form-control" id="pay_city" name="pay_city" placeholder="郑州" />
                    </div><p></p>

                    <div class="form-group">
                        <label for="pay_name">付款人全称:</label>
                        <input type="text" class="form-control" id="pay_name" name="pay_name"  />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="pay_account">付款人账号:</label>&nbsp;
                        <input type="text" class="form-control" id="pay_account" name="pay_account"  />
                    </div><p></p>
                    <div class="form-group">
                        <label for="pay_address">付款人地址:</label>
                        <input type="text" class="form-control" id="pay_address" name="pay_address"  />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="pay_location">付款人开户行:</label>&nbsp;
                        <input type="text" class="form-control" id="pay_location" name="pay_location"  />
                    </div><p></p>
                    <div style="margin-top: 40px; margin-bottom: 20px "><h4><font color="#183a66">收款人信息</font></h4></div>

                    <div class="form-group">
                        <label for="payee_province">省(收款人):</label>&nbsp;&nbsp;
                        <input type="text" class="form-control" id="payee_province" name="payee_province" placeholder="河南" />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="payee_account">市(收款人):</label>&nbsp;&nbsp;
                        <input type="text" class="form-control" id="payee_city" name="payee_city" placeholder="郑州" />
                    </div><p></p>

                    <div class="form-group">
                        <label for="payee_name">收款人全称:</label>
                        <input type="text" class="form-control" id="payee_name" name="payee_name"  />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="payee_account">收款人账号:</label>&nbsp;
                        <input type="text" class="form-control" id="payee_account" name="payee_account"  />
                    </div><p></p>
                    <div class="form-group">
                        <label for="payee_address">收款人地址:</label>
                        <input type="text" class="form-control" id="payee_address" name="payee_address"  />
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="payee_location">收款人开户行:</label>&nbsp;
                        <input type="text" class="form-control" id="payee_location" name="payee_location"  />
                    </div><p></p>
                    <div style="margin-top: 20px">
                        <button type="submit" class="btn btn-primary" onclick="">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
